<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test.acrivity_life_cycle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- activity : 자바파일 하나 -->
        <activity android:name=".MainActivity">

            <!--
                intent-filter : 액티비티를 기동시키는 연동 조건 아래의 3가지 조건을 모두 만족해야 기동함
                암묵적 인텐트 방법.
                1. action : 제공하는 기능
                2. category : 화면 분류
                3. data : 처리하는 데이터 타입
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SecondActivity"></activity>

    </application>

</manifest>